.main-button{
  display: inline-block;
  background-color: #132b71;
  box-shadow:5px 5px 0px #000;
  padding: 18px 20px;
  margin: 0;
  transition: transform 200ms cubic-bezier(0.42, 0, 0.19, 2.11);
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.main-button:hover{
  transform: scale(1.07);
}