.main-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-input #nome{
  width: 1800px;
  height: 50px;
  border: 5px solid black;
  margin-bottom: 60px;
}

.main-input #email {
  width: 1800px;
  height: 50px;
  border: 5px solid black;
  margin-bottom: 60px;
  
}

.main-input #mensagem {
  width: 1800px;
  height: 320px;
  border: 5px solid black;
  margin-bottom: 60px;
}